################################
# rbenv
export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init -)"

################################
# Quicker navigation
alias ..="cd .."
alias ...="cd ../.."

alias vlearn="cd /vagrant/learn"
alias vprojects="cd /vagrant/projects"
alias dot="cd ~/dotfiles"

alias vticket="vlearn; cd rails/4.x/ticketee/"

################################
# Others
alias clear='echo -e "\ec\e[3J"'
alias mkdir='mkdir -p'
alias ln='ln -v'
alias pryr="pry -r ./config/environment -r rails/console/app -r rails/console/helpers"
alias v='vim '
alias kp='pkill -f spork'

################################
# Alias for GIT
alias gs='git status '
alias ga='git add '
alias gaa='git add --all'
alias gc='git commit'
alias gb='git branch '
alias gp='git push '
alias gd='git diff'
alias go='git checkout '
alias gco='git checkout '
alias gm='git merge '
alias gk='gitk --all'
alias gx='gitx --all'
alias gt='git tag'
alias gr='git remote'
alias got='git '
alias get='git '
alias gci="git pull --rebase && rake && git push"
alias gh="git log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold yellow)%d%Creset %C(white)%s%Creset %Cgreen(%cr) %C(dim white)<%an>%Creset' --abbrev-commit --date=relative"
alias gh1="git log --graph --abbrev-commit --decorate --format=format:'%C(bold yellow)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all"

################################
# Rails
alias migrate="spring rake db:migrate && spring rake db:test:prepare"
#alias rk="rake"
#alias s="rspec"
alias be="bundle exec "
alias ber="bundle exec rspec "
alias bec="bundle exec cucumber "
alias ks="bundle exec rake konacha:serve"

################################
# Color LS
#colorflag="-G"
#alias la="ls -a"
#alias ls="ls -a ${colorflag} --color"
#alias l="ls -lF ${colorflag} --color" # all files, in long format
#alias lsd='ls -lF ${colorflag} | grep "^d"' # only directories
# alias l='ls'
# alias ls='ls -F --color'
# alias ll='ls -al'
# alias lh='ls -Alh'


# Colored up cat!
# You must install Pygments first - "sudo easy_install Pygments"
#alias c='pygmentize -O style=monokai -f console256 -g'
